<p style="color: green"><%= notice %></p>


<turbo-frame id='email_turbo'>
<%= render @email %>

<div>
  <%= link_to "Edit this email", edit_email_path(@email) %> |
  <%= link_to "Back to emails", emails_path %>

  <%= button_to "Supprimer", @email, method: :delete, data: { turbo_frame: "_top" }, class:"btn btn-danger" %>
</div>
</turbo-frame>
